#main-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all-posts-view {
    display: none;
}

#posts {
    margin: 25px 15px;
    padding: 12px;
    border: 1px solid gray;
    width: 55%;
    max-width: 1000px;
    min-width: 400px;
}

#post-form {
    margin: 30px 15px;
    padding: 7px;
    border: 3px solid skyblue;
    border-radius: 3px;
    width: 55%;
    max-width: 1000px;
    min-width: 400px;
}

.post {
    border: 1px dashed skyblue;
    border-radius: 3px;
    background-color: whitesmoke;
    margin-bottom: 10px;

    img {
        max-height: 200px;
    }

    .post-pfp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

#profile-view {
    display: none;

    #profile-pfp {
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
}